/* Import all the components */
@import url('./base/_variables.css');
@import url('./base/_global.css');
@import url('./base/_icons.css');
@import url('./utilities/_hidden.css');
@import url('./components/_buttons.css');
@import url('./components/_cards.css');
@import url('./components/_chat.css');
@import url('./components/_floating-elements.css');
@import url('./components/_accountant-cards.css');
@import url('./components/_floating-button.css');
@import url('./components/_tooltips.css');

/* Layout specific imports */
@import url('./layout/_nav.css');
@import url('./layout/_header.css');
@import url('./layout/_main.css');
@import url('./layout/_results.css');
@import url('./layout/_sections.css');