/* Estilos globais para o corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s; /* Transição suave para mudança de tema */
}

/* Estilos para inputs de número, selects e textareas */
input[type="number"], select, textarea {
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    width: 100%;
    padding: 0.75rem;
    border-radius: 1.5rem;
    font-size: 1.125rem;
}

/* Estilos de foco para inputs, selects e textareas */
input[type="number"]:focus, select:focus, textarea:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(251,191,36,0.5);
}